
.badge {
    padding: 0.25rem 0.5rem;;
    font-size: 80%;
}

.badge-pill {
    padding-right: 0.875em;
    padding-left: 0.875em;
    border-radius: 50rem;
}

@each $color, $value in $theme-colors-list {
    .badge-#{$color} {
        @include badge-variant-f($value);
    }
}
