.bottom-sheet {
    position: fixed;
    bottom: -200vh;
    left: 2vw;
    width: 96vw;
    height: auto;
    border-radius: 1rem 1rem 0 0;
    border: 1px solid rgba(255,255,255,0.1);
    padding: 0.7rem 0.7rem 0 0.7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(36, 40, 55, 1);
    transition: all 0.3s ease-in-out;
    z-index: 999;
    .bottom-sheet-closer{
        position: absolute;
        left: 45vw;
        top: -30px;
        transform: scale(2);
    }
    &.show {
        bottom: 0;
    }
}

.blurred-box{
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.5);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99;
    animation-name: smooth-height;
    animation-duration: 0.3s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    filter: blur(1px);
}

@keyframes smooth-height {
    from {height: 0;top: 100vh}
    to {height: 100vh;top: 0}
}

.calendar-header {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background-color: rgba($primary, 0.3);
    width: 100%;
    padding: 0.7rem;
    border-radius:1rem 1rem 0 0;
    .calendar-value-wrapper {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: flex-end;
        .calendar-value{
            background-color: transparent;
            color: white;
            border: none;
            outline: none;
            box-shadow: none;
            width: 100%;
            font-weight: bold;
            margin-right: 8px;
            font-size: 1.2rem;
            text-align: right;
            font-family: $primary-font-family-regular;
            &:focus {
                outline: none;
            }
        }
    }
}
