.carousel {
    .carousel-indicators {
        background-color: white;
        height: 12px;
        display: flex;
        align-items: center;
        padding: 4px 2px;
        width: fit-content;
        border-radius: $border-radius;
        margin: 10px auto;
        li {
            width: 8px;
            height: 8px;
            margin-right: 2px;
            margin-left: 2px;
            text-indent: -999px;
            cursor: pointer;
            background-color: $body-color;
            background-clip: padding-box;
            border-radius: 50%;
            opacity: .5;
            transition: opacity .6s ease;

            &.active {
                background-color: $dark;
                opacity: 1;
            }
        }
    }
}


.thumbnail-indicators {
    .carousel-item {
        list-style-type: none;
        display: flex;
        flex-direction: row-reverse;
        margin-top: 0.6rem;
        width: 100%;
        justify-content: space-evenly;
        padding-left: 0;
        li {
            img {
                width: 100%;
                cursor: pointer;
                filter: brightness(70%);
            }
            &:not(:last-child) {
                padding-left: 0.6rem;
            }
        }
    }
}