.filters {
    .product-color-selector {
        display: flex;
        width: fit-content;
        align-items: center;
        transition:  all 0.3s ease-in-out;
        .btn-color-pallet {
            display: inline-flex;
            align-items: center;
            border-radius: $border-radius;
            width: 70px;
            height: 10px;
            background-image: linear-gradient(to right,$red 0%,$red 14%, $orange 14%, $orange 28%, $yellow 28%, $yellow 42%, $green 42%, $green 56%, $teal 56%, $teal 70%, $blue 70%, $blue 84%, $purple 84%, $purple 100%);
        }
    }
    .product-color-picker {
        .btn-group .btn{
            &:not(:first-child) {
                border-left: 1px solid white !important;
            }
            font-size: 0.625rem !important;
            padding: .3rem 1rem !important;
        }
        width: 0;
        visibility: hidden;
        opacity: 0;
        transition:  visibility 0.2s ease-in-out;
        &.show {
            width: 100%;
            visibility: visible;
            opacity: 1;
        }
    }

    .product-type-selector {
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
        position: relative;
        z-index: 9;
        padding: 0.1rem;
        overflow: hidden;
        &:before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 90px;
            z-index: 1;
            height: 100%;
            box-shadow: inset 80px 0 15px 0 $body-bg;
            @include mobile{
                box-shadow: inset 0px 0 0px 0 #f2eeeb;
                width: 40px;
            }
            background: linear-gradient(to right, $body-bg , rgba(255,255,255,0.1));
        }
        &:after {
            content: "";
            position: absolute;
            right: 0;
            top: 0;
            width: 40px;
            z-index: 1;
            height: 100%;
            box-shadow: inset -10px 0 5px $body-bg;
            background: linear-gradient(to right, rgba(255,255,255,0.1), $body-bg );
        }

        .product-type-selector-scroll {
            display: flex;
            align-items: center;
            flex-wrap: nowrap;
            overflow-x: auto;
            overflow-y: hidden;
            max-width: 80vw;
            padding: 0rem 4rem;
            @include mobile{
                padding: 0rem 1rem;
            }
            position: relative;
            box-sizing: content-box; /* So the width will be 100% + 17px */
            scrollbar-color: #555 #F5F5F5;
            scrollbar-width: thin !important;
            &::-webkit-scrollbar-track
            {
                -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
                border-radius: 10px;
                background-color: #F5F5F5;
                opacity: 0;
                display: none;
            }

            &::-webkit-scrollbar
            {
                height: 0px;
                width: 50px;
                background-color: #F5F5F5;
                opacity: 0;
            }

            &::-webkit-scrollbar-thumb
            {
                border-radius: 10px;
                width: 30px;
                height: 20px;
                -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
                background-color: #555;
            }
        }

        a {
            display: flex;
            align-items: center;
            .badge-product-type {
                cursor: pointer;
                font-size: 0.8rem !important;
                padding: .325em .875em 0.325em .875em !important;
                &:hover {
                    transform: translateY(-1px);
                }
            }
        }


    }

    .product-sort-selector {

    }
    .product-sort-picker {
        .btn-group .btn {
            white-space: nowrap;
            font-size: 0.625rem !important;
            padding: .3rem 1rem !important;
            @include mobile {
                padding: .3rem 0.4rem !important;
            }
            @include mobile-landscape {
                padding: .3rem 0.4rem !important;
            }
        }
        width: 0;
        visibility: hidden;
        opacity: 0;
        transition:  visibility 0.2s ease-in-out;
        &.show {
            width: 100%;
            visibility: visible;
            opacity: 1;
        }
    }
}
