.grid {
    margin: 0 auto;
    .grid-item {
        float: left;
        height: 300px;
        margin-bottom: 1rem;

        &.grid-item--height2 { height: 200px; }
        &.grid-item--height3 { height: 250px; }
        &.grid-item--height4 { height: 310px; }
        &.grid-item--height5 { height: 350px; }
        .card-margin {
            height: 100%;
            margin-left: 0.5rem;
            margin-right: 0.5rem;
        }

    }
    .grid-sizer,
    .grid-item {
        width: 33.33333333%;
        @include mobile {
            width: 50%;
            &.grid-item--width2 { width:100%;}
        }
        @include mobile-landscape {
            width: 50%;
            &.grid-item--width2 { width:100%;}
        }
        @include tablet {
            width: 50%;
            &.grid-item--width2 { width:100%;}
        }
        @include tablet-landscape {
            width: 33.33333%;
        }
        @include small-desktop {
            width: 33.33333%;
        }
    }

    &.column-4 {
        .grid-item {
            float: right;
            .grid-item--height2 { height: 250px; }
            .grid-item--height3 { height: 300px; }
            .grid-item--height4 { height: 350px; }
            .grid-item--height5 { height: 400px; }
        }
        .grid-sizer,
        .grid-item {
            width: 25%;
            @include mobile {
                width: 100%;
                &.grid-item--width2 { width:100%;}
            }
            @include mobile-landscape {
                width: 100%;
                &.grid-item--width2 { width:100%;}
            }
            @include tablet {
                width: 50%;
                &.grid-item--width2 { width:100%;}
            }
            @include tablet-landscape {
                width: 33.33333%;
            }
            @include small-desktop {
                width: 33.33333%;
            }
        }
    }
}

.isotope .isotope-item {
    transition-property: right, top, transform, opacity;
}