.material-input-wrapper {
    max-width: 380px;
    position: relative;
    .small-selector {
        position: absolute;
        left: 0;
        top: 5px;
        .selector-item {
            width: 33px;
            height: 33px;
        }
    }
    .material-input {
        height: calc(1.5em + 1.5rem + 2px);
        width: 100%;
        background: transparent !important;
        border: none !important;
        color: white !important;
        font-size: 1rem;
        padding: .75rem 1.25rem 0 1.25rem;
        transition: all 0.3s ease-in-out;
        max-width: 380px;
        text-align: right;
        font-weight: bold;
        direction: rtl;
        &:focus, &[value]:valid {
            outline: none;
            border: none;
            ~ label {
                top: 0;
                right: 0.25rem;
                font-size: 0.8rem;
                font-weight: normal;
            }
        }
        @each $color, $value in $theme-colors-list {
            &.input-#{$color} {
                border-bottom: 1px solid $value !important;
                &::placeholder {
                    color: $value !important;
                }
                + label {
                    color: $value;
                }
            }
        }
    }
    .material-input__icon {
        position: absolute;
        left: 0;
        top: 10px;
        max-width: 25px;
    }
    label {
        position: absolute;
        right: .75rem;
        top: 14px;
        font-weight: bold;
        pointer-events: none;
        transition: 300ms ease all;
        font-size: 1rem;
    }
}

