
.list-group-item-action {
    color: $body-color;

    @include hover-focus {
        color: $body-color;
        background-color: #FAFBFE;
        text-decoration: none;
    }

    &:active {
        color: $body-color;
        background-color: #EFF2F7;
    }
}

.list-group-item {
    padding: 1rem 1.5rem;
    border: 1px solid #EFF2F7;

    &.disabled,
    &:disabled {
        color: $gray-600;
    }

    &.active {
        background-color: #6300e6;
        border-color: #6300e6;
    }
}

@each $color, $value in $theme-colors-list {
    @include list-group-item-variant-f($color, theme-color-level($color, -9), theme-color-level($color, 6));
}