nav {
    position: fixed;
    left: -80vw;
    top: 0;
    width: 75vw;
    height: 100vh;
    background: linear-gradient(#000825, #2e3866);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    z-index: 99;
    transition: all 0.3s ease-in-out;
    border-radius: 0 .75rem .75rem 0;
    box-shadow: 0 0px 15px rgba(0, 0, 0, 0.37);
    .nav-item {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        padding: .8rem 1rem;
        &:not(.profile-box) {
            width: calc(100% - 2rem);
            margin: 0 auto;
            padding: .8rem 0rem;
            border-bottom: 1px solid #282d3e;
        }
        .nav-item__icon {
            border-radius: .75rem;
            border: 1px solid #222b6c;
            background-color: transparent !important;
            box-shadow:0 1px 13px rgba(91, 101, 172, 0.25);
            display: flex;
            align-items: center;
            width: 40px;
            height: 40px;
            justify-content: center;
        }
        &.profile-box {
            background: linear-gradient(#000825, #151a31);
            padding-bottom: 100px;
            border-radius: 0 .75rem 0 0;
        }
        span {
            margin-right: 10px;
            color: white;
            font-size: 0.9rem;
        }
    }
    &.show {
        left: 0;
    }
}
