.nav-link {
    &.disabled {
        color: $gray-600;
    }
}

.nav-tabs {
    border-bottom: 1px solid #E5E9F2;

    .nav-link {
        @include hover-focus {
            border-color: #EFF2F7 #EFF2F7 #E5E9F2;
        }

        &.disabled {
            color: $gray-600;
        }
    }

    .nav-link.active,
    .nav-item.show .nav-link {
        color: $body-color;
        border-color: #E5E9F2 #E5E9F2 #FFF;
    }
}

.nav-pills {
    .nav-link {
        @include border-radius($nav-pills-border-radius);
    }
}