.popup {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    direction: rtl;
    max-width: 300px;
    overflow: hidden;
    padding: $toast-item-padding;
    font-size: $font-size-sm;
    border-radius: $border-radius*1.25;
    background: $popup-bg-color;
    box-shadow: 0 0.25rem 0.75rem rgba(0,0,0,.2);
    svg {
        width: 75%;
    }
    p {
        white-space: pre-line;
        text-align: center;
    }
    .popup-actions {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
    }
}
