@mixin pseudo-preloader($width: 30px, $height: 30px, $bgc: $pinkhot, $animation-duration: 1.2s, $animation-delay: 0s) {
    content: '';
    width: $width;
    height: $height;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    background-color: $bgc;
    opacity: 0;
    transform: scale(0);
    animation-name: preloading;
    animation-duration: $animation-duration;
    animation-delay: $animation-delay;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

$preloader-width: 6rem;
$preloader-height: 6rem;


.l-preloader {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: $body-bg;
    //background: #ddd6f3;  /* fallback for old browsers */
    //background: -webkit-linear-gradient(to right, #faaca8, #ddd6f3);  /* Chrome 10-25, Safari 5.1-6 */
    //background: linear-gradient(to right, #faaca8, #ddd6f3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    z-index: 9999;
}

.c-preloader {
    width: $preloader-width;
    height: $preloader-height;
    position: relative;

    &::before {
        @include pseudo-preloader($preloader-width, $preloader-height);
    }
    &::after {
        @include pseudo-preloader($preloader-width, $preloader-height, $pinkhot, 1.2s, -.6s);
    }
}

@keyframes preloading {
    0% {
        opacity: 1;
        transform: scale(0);
    }
    100% {
        opacity: 0;
        transform: scale(1)
    }
}