.table {
    width: 100%;
    margin-bottom: $spacer;
    color: $body-color;
    background-color: transparent; // Reset for nesting within parents with `background-color`.

    th,
    td {
        padding: 1rem;
        vertical-align: top;
        border-top: 1px solid $gray-200;
    }

    thead th {
        vertical-align: bottom;
        border-bottom: 2px solid $gray-200;
    }

    tbody + tbody {
        border-top: 2px solid $gray-200;
    }
}

.table-sm {
    th,
    td {
        padding: 0.5rem;
    }
}

.table-bordered {
    border: 1px solid $gray-200;

    th,
    td {
        border: 1px solid $gray-200;
    }
}

.table-striped {
    tbody tr:nth-of-type(odd) {
        background-color: rgba(250, 251, 254, 0.3);
    }
}

.table-hover {
    tbody tr {
        @include hover {
            color: $body-color;
            background-color: #FAFBFE;
        }
    }
}

@each $color, $value in $theme-colors-list {
    @include table-row-variant($color, theme-color-level($color, $table-bg-level), theme-color-level($color, $table-border-level));
}

@include table-row-variant(active, $table-active-bg);

.table-cards tbody tr th:after {
    border-left: none !important;
}