.bank-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    &.bank-card-lg {
        width: 85vw;
        height: calc((85vw - (85vw/1.4))*2);
        max-width: 400px;
        max-height: 250px;
        padding: 1.8rem 1.5rem;
        display: block;
        border-radius: .5rem;
        .bank-card__row {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            justify-content: space-between;
            &.center-row {
                flex-direction: column;
            }
            .card-number {
                font-size: 1.3rem;
                color: white;
                font-weight: bold;
            }
            .card-expire {
                font-size: 0.9rem;
                color: white;
                font-weight: bold;
            }
        }
    }
    &.bank-card-md {
        width: 85vw;
        height: calc((85vw - (85vw/1.15))*2);
        max-width: 400px;
        padding: 0.4rem 1.2rem;
        max-height: 100px;
        display: block;
        border-radius: .5rem;
        @media (max-width: 350px) {
            font-size: 0.8rem !important;
        }
    }
    &.bank-tosee-taavon {
        background-image: url("../images/tosee tavon@2x.png");
    }
    &.bank-refah {
        background-image: url("../images/refah.jpeg");
    }
    &.bank-day {
        background-image: url("../images/day.jpeg");
    }
}
