.choice-item {
    opacity: 0.4;
    div .item-circle {
            width: 20px;
            height: 20px;
            border-radius: 50% 50% 50% 0;
            background: white;
            transform: rotate(-45deg);
            @extend .shadow;
            @each $color, $value in $theme-colors-list {
                &.item-#{$color} {
                    &:after {
                        background: $value;
                    }
                }
            }
        &:after {
            content: '';
            width: 15px;
            height: 15px;
            margin: 3px 3px 0 0;
            position: absolute;
            border-radius: 50%;
        }
    }
    div .item-title {
        color: $dark;
    }
    &.selected {
        opacity: 1;
    }
}

.product-marker {
    cursor: pointer;
    position: absolute;
    .pin {
        width: 26px;
        height: 26px;
        border-radius: 50% 50% 50% 0;
        background: white;
        position: absolute;
        transform: rotate(-45deg);
        left: 50%;
        top: 50%;
        margin: -20px 0 0 -20px;
        @include transition('transform', 0.3s);
        @extend .shadow;
        @each $color, $value in $theme-colors-list {
            &.pin-#{$color} {
                &:after {
                    background: $value;
                }
            }
        }
        &:hover {
            transform: rotate(-45deg) scale(1.1) !important;
        }
    }
    .pin:after {
        content: '';
        width: 20px;
        height: 20px;
        margin: 3px 0 0 3px;
        position: absolute;
        border-radius: 50%;
    }
}