{% extends "../components/layout.html" %}

{% block content %}
<div class="row">
    <div class="col-12 col-lg-3">
        <ul class="components" id="components">
            <h3 class="pr-3">Components List</h3>
            <li class="components-item">
                <a href="#colors">colors</a>
            </li>
            <li class="components-item">
                <a href="#background-variants">background variants</a>
            </li>
            <li class="components-item">
                <a href="#input-variants">input variants</a>
            </li>
            <li class="components-item">
                <a href="#button-variants">button variants</a>
            </li>
            <li class="components-item">
                <a href="#toasts">Toasts</a>
            </li>
            <li class="components-item">
                <a href="#text-boxes">Text-boxes</a>
            </li>
            <li class="components-item">
                <a href="#popup">Popup</a>
            </li>
            <li class="components-item">
                <a href="#selectors">Selectors</a>
            </li>
            <li class="components-item">
                <a href="#buttons">Buttons</a>
            </li>
            <li class="components-item">
                <a href="#tabs">Tabs</a>
            </li>
            <li class="components-item">
                <a href="#cards">Cards</a>
            </li>
            <li class="components-item">
                <a href="#simple-cards">simple cards</a>
            </li>

            <li class="components-item">
                <a href="#card-with-header">Card with Header</a>
            </li>
            <li class="components-item">
                <a href="#card-with-image">Card with image</a>
            </li>
            <li class="components-item">
                <a href="#dropdown">dropdown list</a>
            </li>
            <li class="components-item">
                <a href="#main-menu">main menu</a>
            </li>
            <li class="components-item">
                <a href="#bank-cards">Bank cards</a>
            </li>
            <li class="components-item">
                <a href="#bottomsheet">bottom sheet</a>
            </li>
            <li class="components-item">
                <a href="#list">Lists</a>
            </li>
            <li class="components-item">
                <a href="#bottom-tabs">bottom tabs</a>
            </li>
        </ul>
    </div>
    <div class="col-12 col-lg-9 position-relative">
        {% include "../components/colors.html" %}
        {% include "../components/toasts.html" %}
        {% include "../components/text-boxes.html" %}
        {% include "../components/popup.html" %}
        {% include "../components/selectors.html" %}
        {% include "../components/button.html" %}
        {% include "../components/tabs.html" %}
        {% include "../components/cards.html" %}
        {% include "../components/dropdown.html" %}
        {% include "../components/main-menu.html" %}
        {% include "../components/bank-cards.html" %}
        {% include "../components/bottom-sheet.html" %}
        {% include "../components/lists.html" %}
        <h1 class="text-light mt-5" id="bottom-tabs">Bottom Tabs</h1>
        <div class="bottom-tabs demo">
            <ul class="nav nav-tabs nav-tabs-warning border-0" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="first-tab" data-toggle="tab" href="#first" role="tab" aria-controls="first-tab" aria-selected="true">tabFirst</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="second-tab" data-toggle="tab" href="#second" role="tab" aria-controls="second-tab" aria-selected="false">tabSecond</a>
                </li>
            </ul>
        </div>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="first" role="tabpanel" aria-labelledby="first-tab">
                <h1>tabFirst Content</h1>
            </div>
            <div class="tab-pane fade" id="second" role="tabpanel" aria-labelledby="second-tab">
                <h1>tabSecond Content </h1>
            </div>
        </div>
    </div>
</div>

<button class="btn btn-primary d-block d-lg-none go-to-top">
    <img src="./dist/images/icons/arrow-up.svg" alt="">
</button>
<style>
    .components {
        position: fixed;
        left: 5vw;
        top: 10vh;
        overflow-y: auto;
        max-height: 90vh;
    }
    @media (max-width: 991px) {
        .components {
            position: relative;
        }
    }
    .components::-webkit-scrollbar-track {
         -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
         border-radius: 10px;
         background-color: #333333;
         opacity: 0;
     }

    .components::-webkit-scrollbar {
         opacity: 0;
         height: 100%;
         width: 3px;
         background-color: #333333;
     }

    .components::-webkit-scrollbar-thumb {
         opacity: 0;
         border-radius: 10px;
         width: 3px;
         height: 30px;
         -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
         background-color: #F5F5F5;
     }
    .components-item {
        margin-bottom: 10px;
    }
    .components-item a {
        text-transform: capitalize;
    }
    .bottom-tabs.demo {
        position: relative;
        width: auto;
    }
    .go-to-top {
        position: fixed;
        right: 20px;
        bottom: 20px;
        width: auto;
    }
</style>

{% endblock %}

