{% extends "../components/layout.html" %}

{% block content %}
{% include "../components/colors.html" %}
{% include "../components/toasts.html" %}
{% include "../components/text-boxes.html" %}
{% include "../components/popup.html" %}
{% include "../components/selectors.html" %}
{% include "../components/button.html" %}
{% include "../components/tabs.html" %}
{% include "../components/cards.html" %}
{% include "../components/dropdown.html" %}
{% include "../components/main-menu.html" %}
{% include "../components/bank-cards.html" %}
{% include "../components/bottom-sheet.html" %}
{% endblock %}


