<h1 class="text-light mt-5" id="bank-cards">Bank cards</h1>
<div class="row">
    <div class="col-12 col-lg-6">
        <div class="bank-card bank-card-lg bank-day">
            <div class="bank-card__row">
                <object data="./dist/images/icons/day-white.svg" type=""></object>
                <div class="text-right">
                    <h6 class="font-weight-bold mb-1">حامد کیانی</h6>
                    <p class="font-weight-bold text-sm">بانک دی </p>
                </div>
            </div>
            <div class="bank-card__row center-row">
                 <div class="card-number ">
                     ۵۰۲۲ ۲۹۱۰ ۱۴۴۰ ۳۵۶۲
                 </div>
                <div class="card-expire">
                    ۱۴۰۴/۰۲
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-lg-6 mt-4 mt-lg-0">
        <div class="bank-card bank-card-md bg-dark-teal bank-refah">
            <div class="bank-card__row">
                <div class="text-right d-flex align-items-center justify-content-between">
                    <p class="font-weight-bold text-light text-md mb-1">حامد کیانی</p>
                    <p class="font-weight-bold text-light text-md mb-1 mr-4">بانک رفاه کارگران </p>
                </div>
            </div>
            <div class="bank-card__row center-row">
                <div class="card-number text-sm text-white font-weight-bold mb-0">
                    ۵۰۲۲ ۲۹۱۰ ۱۴۴۰ ۳۵۶۲
                </div>
                <div class="card-expire font-weight-bold text-white text-sm">
                    ۱۴۰۴/۰۲
                </div>
            </div>
        </div>
        <div class="bank-card bank-card-md mt-4 bank-tosee-taavon">
            <div class="bank-card__row center-row d-flex align-items-center justify-content-between h-100">
                <div class="text-white font-weight-bold mb-0">
                    ۵۰۲۲ ۲۹-- ---- ۳۵۶۲
                </div>
                <div class="font-weight-bold text-white text-sm">
                    بانک توسعه تعاون
                </div>
            </div>
        </div>
    </div>
</div>
