<h1 class="text-light mt-5">Bottom sheet</h1>
<button class="btn btn-dark-blue bottom-sheet-toggler">
    show bottom-sheet
</button>

<div class="bottom-sheet">
    <span class="bottom-sheet-closer">×</span>
    <div class="btn-group btn-group-dark-blue mt-4" role="group">
        <button type="button" class="btn btn-dark-blue d-flex align-items-center active">
            <object class="mr-2" data="./dist/images/icons/money_wallet_tab bar_pardakht.svg" type=""></object>
            کیف پول</button>
        <button type="button" class="btn btn-dark-blue d-flex align-items-center">
            <object class="mr-2" data="./dist/images/icons/card_tab bar_pardakht.svg" type=""></object>
            کارت بانکی</button>
    </div>
    <div class="row mb-4">
        <div class="col-12">
            <div class="material-input-wrapper w-100 mt-4">
                <input class="material-input input-dark-blue w-100" type="text">
                <object class="material-input__icon fill-dark-blue" data="./dist/images/icons/Maskan-blue.svg" type=""></object>
                <label>شماره کارت</label>
            </div>
        </div>
        <div class="col-12">
            <div class="material-input-wrapper w-100 mt-4">
                <input class="material-input input-dark-blue w-100" type="text">
                <label>رمز دوم</label>
            </div>
        </div>
        <div class="col-6">
            <div class="material-input-wrapper w-100 mt-4">
                <input class="material-input input-dark-blue w-100" type="text">
                <label>تاریخ انقضا</label>
            </div>
        </div>
        <div class="col-6">
            <div class="material-input-wrapper w-100 mt-4">
                <input class="material-input input-dark-blue w-100" type="text">
                <label>CVV2</label>
            </div>
        </div>
    </div>
    <button class="btn btn-lg py-3 btn-outline-dark-red top-radius w-75 mt-5">
        ارسال
    </button>
</div>
