<h1 class="text-light mt-5" id="bottom-tabs">Bottom Tabs</h1>
<div class="bottom-tabs">
    <ul class="nav nav-tabs nav-tabs-warning" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="first-tab" data-toggle="tab" href="#first" role="tab" aria-controls="first-tab" aria-selected="true">tabFirst</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="second-tab" data-toggle="tab" href="#second" role="tab" aria-controls="second-tab" aria-selected="false">tabSecond</a>
        </li>
    </ul>
</div>
<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="first" role="tabpanel" aria-labelledby="first-tab">
        <h1>tabFirst Content</h1>
    </div>
    <div class="tab-pane fade" id="second" role="tabpanel" aria-labelledby="second-tab">
        <h1>tabSecond Content </h1>
    </div>
</div>
