<h1 class="text-light mt-5">Colors</h1>
<div class="row">
    <div class="col-12 d-flex flex-wrap">
        <div class="color-card bg-gradient-primary">$primary: #944268;</div>
        <div class="color-card bg-gradient-secondary">$secondary : #78909c;</div>
        <div class="color-card bg-gradient-success">$success: #00bfa5;</div>
        <div class="color-card bg-gradient-info">$info: #3cabec;</div>
        <div class="color-card bg-gradient-warning">$warning :#ffca28;</div>
        <div class="color-card bg-gradient-danger">$danger :  #ff1744;</div>
        <div class="color-card bg-gradient-light">$light : rgba(white,.5);</div>
        <div class="color-card bg-gradient-yellow">$yellow:#bc970a;</div>
        <div class="color-card bg-gradient-dark">$dark : #25252a;</div>
        <div class="color-card bg-gradient-blue">$blue: #039be5;</div>
        <div class="color-card bg-gradient-dark-blue">$dark-blue: #3d467b;</div>
        <div class="color-card bg-gradient-darkest-blue">$darkest-blue: #242839;</div>
        <div class="color-card bg-gradient-teal">$teal: #3bc6d4;</div>
        <div class="color-card bg-gradient-dark-teal">$dark-teal: #11545f;</div>
        <div class="color-card bg-gradient-dark-red">$dark-red: #c34053;</div>
        <div class="color-card bg-gradient-purple">$purple: #c568fb;</div>
        <div class="color-card bg-gradient-green">$green: #56cb54;</div>
        <div class="color-card bg-gradient-pink">$pink: #c95e9a;</div>
        <div class="color-card bg-gradient-orange">$orange:#eb8431;</div>
        <div class="color-card bg-gradient-bg-color">$bg-color: #0a0a2e;</div>
    </div>
</div>


<h1 class="text-light mt-5">background variants</h1>
<div class="row">
    <div class="col-12 d-flex flex-wrap">
        <div class="color-card bg-gradient-primary w-100">
            &lt;div class="color-card bg-gradient-primary"&gt;&lt;/div&gt;
        </div>
        <div class="color-card bg-primary w-100">
            &lt;div class="color-card bg-primary"&gt;&lt;/div&gt;
        </div>
        <div class="color-card bg-alpha-primary w-100">
            &lt;div class="color-card bg-alpha-primary"&gt;&lt;/div&gt;
        </div>
        <div class="color-card border border-primary w-100">
            &lt;div class="color-card border border-primary"&gt;&lt;/div&gt;
        </div>
        <div class="color-card bg-transparent text-primary w-100">
            &lt;div class="color-card bg-transparent text-primary"&gt;&lt;/div&gt;
        </div>
    </div>
    <div class="col-12 d-flex flex-wrap mt-4">
        <div class="color-card bg-gradient-danger w-100">
            &lt;div class="color-card bg-gradient-danger"&gt;&lt;/div&gt;
        </div>
        <div class="color-card bg-danger w-100">
            &lt;div class="color-card bg-danger"&gt;&lt;/div&gt;
        </div>
        <div class="color-card bg-alpha-danger w-100">
            &lt;div class="color-card bg-alpha-danger"&gt;&lt;/div&gt;
        </div>
        <div class="color-card border border-danger w-100">
            &lt;div class="color-card border border-danger"&gt;&lt;/div&gt;
        </div>
        <div class="color-card bg-transparent text-danger w-100">
            &lt;div class="color-card bg-transparent text-danger"&gt;&lt;/div&gt;
        </div>
    </div>
    <div class="col-12 d-flex flex-wrap mt-4">
        <div class="color-card bg-gradient-success w-100">
            &lt;div class="color-card bg-gradient-success"&gt;&lt;/div&gt;
        </div>
        <div class="color-card bg-success w-100">
            &lt;div class="color-card bg-success"&gt;&lt;/div&gt;
        </div>
        <div class="color-card bg-alpha-success w-100">
            &lt;div class="color-card bg-alpha-success"&gt;&lt;/div&gt;
        </div>
        <div class="color-card border border-success w-100">
            &lt;div class="color-card border border-success"&gt;&lt;/div&gt;
        </div>
        <div class="color-card bg-transparent text-success w-100">
            &lt;div class="color-card bg-transparent text-success"&gt;&lt;/div&gt;
        </div>
    </div>
</div>

<h1 class="text-light mt-5">Input variants</h1>
<div class="material-input-wrapper w-100 my-4">
    <input class="material-input input-warning w-100" type="text" required>
    <label>شناسه قبض</label>
</div>
 &lt;div class="material-input-wrapper w-100 mt-4"&gt;
<br>
     &nbsp;&nbsp;&nbsp;&nbsp;&lt;input class="material-input input-warning w-100" type="text" required&gt;
<br>
&nbsp;&nbsp;&nbsp;&nbsp;&lt;label&gt;شناسه قبض&lt;/label&gt;
<br>
 &lt;/div&gt;

<div class="material-input-wrapper w-100 my-4">
    <input class="material-input input-dark-red w-100" type="text" required>
    <label>شماره موبایل</label>
</div>
&lt;div class="material-input-wrapper w-100 mt-4"&gt;
<br>
&nbsp;&nbsp;&nbsp;&nbsp;&lt;input class="material-input input-dark-red w-100" type="text" required&gt;
<br>
&nbsp;&nbsp;&nbsp;&nbsp;&lt;label&gt;شماره موبایل&lt;/label&gt;
<br>
&lt;/div&gt;


<h1 class="text-light mt-5">Button variants</h1>
<button class="btn btn-sm btn-danger mt-2">
    .btn .btn-sm
</button>
<button class="btn btn-danger mt-2">
.btn
</button>

<button class="btn btn-danger mt-2">
    .btn .btn-danger
</button>
<button class="btn btn-soft-danger mt-2">
    .btn .btn-soft-danger
</button>
<button class="btn btn-outline-danger mt-2">
    .btn .btn-outline-danger
</button>
<button class="btn btn-outline-danger top-radius btn-extra-padding mt-2">
    .btn .btn-outline-danger .top-radius .btn-extra-padding
</button>
