<h1 class="text-light mt-5">Colors</h1>
<div class="row">
    <div class="col-12 d-flex flex-wrap">
        <div class="color-card bg-gradient-primary"></div>
        <div class="color-card bg-gradient-secondary"></div>
        <div class="color-card bg-gradient-success"></div>
        <div class="color-card bg-gradient-info"></div>
        <div class="color-card bg-gradient-warning"></div>
        <div class="color-card bg-gradient-danger"></div>
        <div class="color-card bg-gradient-light"></div>
        <div class="color-card bg-gradient-yellow"></div>
        <div class="color-card bg-gradient-dark"></div>
        <div class="color-card bg-gradient-blue"></div>
        <div class="color-card bg-gradient-dark-blue"></div>
        <div class="color-card bg-gradient-teal"></div>
        <div class="color-card bg-gradient-dark-red"></div>
        <div class="color-card bg-gradient-purple"></div>
        <div class="color-card bg-gradient-green"></div>
        <div class="color-card bg-gradient-pink"></div>
        <div class="color-card bg-gradient-orange"></div>
    </div>
</div>
