<h1 class="text-light mt-5" id="list">List</h1>
<div class="row">
    <div class="col-12">
        <h3 class="text-light">#1</h3>
        <div class="list-group d-flex flex-column align-items-center w-100">
            <div class="list-group-item d-flex flex-column align-items-center w-100 p-0   bg-bg-color ">
                <div class="list-group-item_main d-flex flex-row-reverse align-items-center justify-content-between w-100 p-2">
                    <div>
                        <img src="./dist/images/icons/decrease.svg" alt="">
                    </div>
                    <div class="d-flex flex-column justify-content-center flex-grow-1 align-items-end pr-2">
                        <h6 class="text-white font-weight-bold">خرید از فروشگاه</h6>
                        <div class="d-flex justify-content-between align-items-center text-light">
                            <small class="mr-3">شهریور ۶ </small>
                            <small>۲۲:۴۵</small>
                        </div>
                    </div>
                    <div>
                        <span class="dir-rtl font-weight-bold text-white">۳۱۹۰۰۰ ریال</span>
                    </div>
                    <div class="mr-2 list-group-item_main_arrow">
                        <img src="./dist/images/icons/arrow-down.svg" alt="">
                    </div>
                </div>
                <div class="list-group-item_details">
                    <div class="list-group-item_details_code">
                        <div>شماره پیگیری:‌ ۹۹۹۹۴۵۴۵۵۱ </div>
                        <div>شماره مرجع:‌ ۵۶۸۴۱۲۵۸۷۴۱ </div>
                    </div>
                    <div class="list-group-item_details_desc">
                        خرید لوازم خانگی ار قروشگاه کیانی
                    </div>
                </div>
            </div>
            <div class="list-group-item d-flex flex-column align-items-center w-100 p-0   bg-bg-color ">
                <div class="list-group-item_main d-flex flex-row-reverse align-items-center justify-content-between w-100 p-2">
                    <div>
                        <img src="./dist/images/icons/decrease.svg" alt="">
                    </div>
                    <div class="d-flex flex-column justify-content-center flex-grow-1 align-items-end pr-2">
                        <h6 class="text-white font-weight-bold">خرید از فروشگاه</h6>
                        <div class="d-flex justify-content-between align-items-center text-light">
                            <small class="mr-3">شهریور ۶ </small>
                            <small>۲۲:۴۵</small>
                        </div>
                    </div>
                    <div>
                        <span class="dir-rtl font-weight-bold text-white">۳۱۹۰۰۰ ریال</span>
                    </div>
                    <div class="mr-2 list-group-item_main_arrow">
                        <img src="./dist/images/icons/arrow-down.svg" alt="">
                    </div>
                </div>
                <div class="list-group-item_details">
                    <div class="list-group-item_details_code">
                        <div>شماره پیگیری:‌ ۹۹۹۹۴۵۴۵۵۱ </div>
                        <div>شماره مرجع:‌ ۵۶۸۴۱۲۵۸۷۴۱ </div>
                    </div>
                    <div class="list-group-item_details_desc">
                        خرید لوازم خانگی ار قروشگاه کیانی
                    </div>
                </div>
            </div>
            <div class="list-group-item d-flex flex-column align-items-center w-100 p-0 bg-bg-color ">
                <div class="list-group-item_main d-flex flex-row-reverse align-items-center justify-content-between w-100 p-2">
                    <div>
                        <img src="./dist/images/icons/increase.svg" alt="">
                    </div>
                    <div class="d-flex flex-column justify-content-center flex-grow-1 align-items-end pr-2">
                        <h6 class="text-white font-weight-bold"> واریز حقوق</h6>
                        <div class="d-flex justify-content-between align-items-center text-pink">
                            <small class="mr-3">شهریور ۶ </small>
                            <small>۲۲:۴۵</small>
                        </div>
                    </div>
                    <div>
                        <span class="dir-rtl font-weight-bold text-white btn btn-pink">۳۱۹۰۰۰ ریال</span>
                    </div>
                    <div class="mr-2 list-group-item_main_arrow">
                        <img src="./dist/images/icons/arrow-down.svg" alt="">
                    </div>
                </div>
                <div class="list-group-item_details">
                    <div class="list-group-item_details_code">
                        <div>شماره پیگیری:‌ ۹۹۹۹۴۵۴۵۵۱ </div>
                        <div>شماره مرجع:‌ ۵۶۸۴۱۲۵۸۷۴۱ </div>
                    </div>
                    <div class="list-group-item_details_desc">
                        خرید لوازم خانگی ار قروشگاه کیانی
                    </div>
                </div>
            </div>
            <div class="list-group-item d-flex flex-column align-items-center w-100 p-0   bg-bg-color ">
                <div class="list-group-item_main d-flex flex-row-reverse align-items-center justify-content-between w-100 p-2">
                    <div>
                        <img src="./dist/images/icons/decrease.svg" alt="">
                    </div>
                    <div class="d-flex flex-column justify-content-center flex-grow-1 align-items-end pr-2">
                        <h6 class="text-white font-weight-bold">خرید از فروشگاه</h6>
                        <div class="d-flex justify-content-between align-items-center text-light">
                            <small class="mr-3">شهریور ۶ </small>
                            <small>۲۲:۴۵</small>
                        </div>
                    </div>
                    <div>
                        <span class="dir-rtl font-weight-bold text-white">۳۱۹۰۰۰ ریال</span>
                    </div>
                    <div class="mr-2 list-group-item_main_arrow">
                        <img src="./dist/images/icons/arrow-down.svg" alt="">
                    </div>
                </div>
                <div class="list-group-item_details">
                    <div class="list-group-item_details_code">
                        <div>شماره پیگیری:‌ ۹۹۹۹۴۵۴۵۵۱ </div>
                        <div>شماره مرجع:‌ ۵۶۸۴۱۲۵۸۷۴۱ </div>
                    </div>
                    <div class="list-group-item_details_desc">
                        خرید لوازم خانگی ار قروشگاه کیانی
                    </div>
                </div>
            </div>
            <div class="list-group-item d-flex flex-column align-items-center w-100 p-0   bg-bg-color ">
                <div class="list-group-item_main d-flex flex-row-reverse align-items-center justify-content-between w-100 p-2">
                    <div>
                        <img src="./dist/images/icons/decrease.svg" alt="">
                    </div>
                    <div class="d-flex flex-column justify-content-center flex-grow-1 align-items-end pr-2">
                        <h6 class="text-white font-weight-bold">خرید از فروشگاه</h6>
                        <div class="d-flex justify-content-between align-items-center text-light">
                            <small class="mr-3">شهریور ۶ </small>
                            <small>۲۲:۴۵</small>
                        </div>
                    </div>
                    <div>
                        <span class="dir-rtl font-weight-bold text-white">۳۱۹۰۰۰ ریال</span>
                    </div>
                    <div class="mr-2 list-group-item_main_arrow">
                        <img src="./dist/images/icons/arrow-down.svg" alt="">
                    </div>
                </div>
                <div class="list-group-item_details">
                    <div class="list-group-item_details_code">
                        <div>شماره پیگیری:‌ ۹۹۹۹۴۵۴۵۵۱ </div>
                        <div>شماره مرجع:‌ ۵۶۸۴۱۲۵۸۷۴۱ </div>
                    </div>
                    <div class="list-group-item_details_desc">
                        خرید لوازم خانگی ار قروشگاه کیانی
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 mt-4">
        <h3 class="text-light">#2</h3>
        <div class="w-100 bg-bg-color p-3">
            <div class="full-selector mt-4">
                <div class="selector-item fill selector-item selector-item-teal mt-2">
                    <div class="selector-item-description">
                        <p class="selector-item-description_title">۲۰ گیگابایت</p>
                        <p class="selector-item-description_subtitle">۳ ماهه (۶ تا ۱۲ ظهر)</p>
                    </div>
                    <div class="selector-item-price dir-rtl text-right">
                        ۲۱۰,۰۰۰ <span>تومان</span>
                    </div>
                </div>
                <div class="selector-item selector-item selector-item-teal mt-2">
                    <div class="selector-item-description">
                        <p class="selector-item-description_title">۲۰ گیگابایت</p>
                        <p class="selector-item-description_subtitle">۳ ماهه (۶ تا ۱۲ ظهر)</p>
                    </div>
                    <div class="selector-item-price dir-rtl text-right">
                        ۲۱۰,۰۰۰ <span>تومان</span>
                    </div>
                </div>
                <div class="selector-item selector-item selector-item-teal mt-2">
                    <div class="selector-item-description">
                        <p class="selector-item-description_title">۲۰ گیگابایت</p>
                        <p class="selector-item-description_subtitle">۳ ماهه (۶ تا ۱۲ ظهر)</p>
                    </div>
                    <div class="selector-item-price dir-rtl text-right">
                        ۲۱۰,۰۰۰ <span>تومان</span>
                    </div>
                </div>
                <div class="selector-item selector-item selector-item-teal mt-2">
                    <div class="selector-item-description">
                        <p class="selector-item-description_title">۲۰ گیگابایت</p>
                        <p class="selector-item-description_subtitle">۳ ماهه (۶ تا ۱۲ ظهر)</p>
                    </div>
                    <div class="selector-item-price dir-rtl text-right">
                        ۲۱۰,۰۰۰ <span>تومان</span>
                    </div>
                </div>
                <div class="selector-item selector-item selector-item-teal mt-2">
                    <div class="selector-item-description">
                        <p class="selector-item-description_title">۲۰ گیگابایت</p>
                        <p class="selector-item-description_subtitle">۳ ماهه (۶ تا ۱۲ ظهر)</p>
                    </div>
                    <div class="selector-item-price dir-rtl text-right">
                        ۲۱۰,۰۰۰ <span>تومان</span>
                    </div>
                </div>
                <div class="selector-item selector-item selector-item-teal mt-2">
                    <div class="selector-item-description">
                        <p class="selector-item-description_title">۲۰ گیگابایت</p>
                        <p class="selector-item-description_subtitle">۳ ماهه (۶ تا ۱۲ ظهر)</p>
                    </div>
                    <div class="selector-item-price dir-rtl text-right">
                        ۲۱۰,۰۰۰ <span>تومان</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 mt-4">
        <h3 class="text-light">#3</h3>
        <div class="w-100 bg-bg-color p-3">
            <div class="bank-card bank-card-md bg-dark-blue bank-refah">
                <div class="bank-card__row">
                    <div class="text-right d-flex align-items-center justify-content-between">
                        <p class="font-weight-bold text-light text-md mb-1">حامد کیانی</p>
                        <p class="font-weight-bold text-light text-md mb-1 mr-4">بانک رفاه کارگران </p>
                    </div>
                </div>
                <div class="bank-card__row center-row">
                    <div class="card-number text-sm text-white font-weight-bold mb-0">
                        ۵۰۲۲ ۲۹۱۰ ۱۴۴۰ ۳۵۶۲
                    </div>
                    <div class="card-expire font-weight-bold text-white text-sm">
                        ۱۴۰۴/۰۲
                    </div>
                </div>
            </div>
            <div class="bank-card bank-card-md bg-pink bank-iran-zamin mt-2">
                <div class="bank-card__row">
                    <div class="text-right d-flex align-items-center justify-content-between">
                        <p class="font-weight-bold text-light text-md mb-1">حامد کیانی</p>
                        <p class="font-weight-bold text-light text-md mb-1 mr-4">بانک ایران زمین </p>
                    </div>
                </div>
                <div class="bank-card__row center-row">
                    <div class="card-number text-sm text-white font-weight-bold mb-0">
                        ۵۰۲۲ ۲۹۱۰ ۱۴۴۰ ۳۵۶۲
                    </div>
                    <div class="card-expire font-weight-bold text-white text-sm">
                        ۱۴۰۴/۰۲
                    </div>
                </div>
            </div>
            <div class="bank-card bank-card-md bg-primary bank-eghtesade-novin mt-2">
                <div class="bank-card__row">
                    <div class="text-right d-flex align-items-center justify-content-between">
                        <p class="font-weight-bold text-light text-md mb-1">حامد کیانی</p>
                        <p class="font-weight-bold text-light text-md mb-1 mr-4">بانک اقتصاد نوین</p>
                    </div>
                </div>
                <div class="bank-card__row center-row">
                    <div class="card-number text-sm text-white font-weight-bold mb-0">
                        ۵۰۲۲ ۲۹۱۰ ۱۴۴۰ ۳۵۶۲
                    </div>
                    <div class="card-expire font-weight-bold text-white text-sm">
                        ۱۴۰۴/۰۲
                    </div>
                </div>
            </div>
            <div class="bank-card bank-card-md bg-dark-teal bank-ghavamin mt-2">
                <div class="bank-card__row">
                    <div class="text-right d-flex align-items-center justify-content-between">
                        <p class="font-weight-bold text-light text-md mb-1">حامد کیانی</p>
                        <p class="font-weight-bold text-light text-md mb-1 mr-4">بانک قوامین</p>
                    </div>
                </div>
                <div class="bank-card__row center-row">
                    <div class="card-number text-sm text-white font-weight-bold mb-0">
                        ۵۰۲۲ ۲۹۱۰ ۱۴۴۰ ۳۵۶۲
                    </div>
                    <div class="card-expire font-weight-bold text-white text-sm">
                        ۱۴۰۴/۰۲
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 mt-4">
        <h3 class="text-light">#4</h3>
        <div class="w-100 bg-bg-color p-3">
            <div class="simple-selector">
                <div class="selector-item selector-item-teal">
                    <h3>۲۰۰۰</h3>
                    <p>تومان</p>
                </div>
                <div class="selector-item fill selector-item-teal">
                    <h3>۵۰۰۰</h3>
                    <p>تومان</p>
                </div>
                <div class="selector-item selector-item-teal">
                    <h3>۱۰</h3>
                    <p>هزار تومان</p>
                </div>
                <div class="selector-item selector-item-teal">
                    <h3>۵۰۰۰</h3>
                    <p>تومان</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 mt-4">
        <h3 class="text-light">#5</h3>
        <div class="w-100 bg-bg-color p-3 overflow-x-auto d-webkit-box">
            <div class="bank-card bank-card-lg mr-3 bank-arman">
                <div class="bank-card__row">
                    <object data="./dist/images/icons/day-white.svg" type=""></object>
                    <div class="text-right">
                        <h6 class="font-weight-bold mb-1">حامد کیانی</h6>
                        <p class="font-weight-bold text-sm">بانک آرمان </p>
                    </div>
                </div>
                <div class="bank-card__row center-row">
                    <div class="card-number ">
                        ۵۰۲۲ ۲۹۱۰ ۱۴۴۰ ۳۵۶۲
                    </div>
                    <div class="card-expire">
                        ۱۴۰۴/۰۲
                    </div>
                </div>
            </div>
            <div class="bank-card bank-card-lg mr-3 bank-day">
                <div class="bank-card__row">
                    <object data="./dist/images/icons/day-white.svg" type=""></object>
                    <div class="text-right">
                        <h6 class="font-weight-bold mb-1">حامد کیانی</h6>
                        <p class="font-weight-bold text-sm">بانک دی </p>
                    </div>
                </div>
                <div class="bank-card__row center-row">
                    <div class="card-number ">
                        ۵۰۲۲ ۲۹۱۰ ۱۴۴۰ ۳۵۶۲
                    </div>
                    <div class="card-expire">
                        ۱۴۰۴/۰۲
                    </div>
                </div>
            </div>
            <div class="bank-card bank-card-lg bank-gardeshgari">
                <div class="bank-card__row">
                    <object data="./dist/images/icons/day-white.svg" type=""></object>
                    <div class="text-right">
                        <h6 class="font-weight-bold mb-1">حامد کیانی</h6>
                        <p class="font-weight-bold text-sm">بانک گردشگری </p>
                    </div>
                </div>
                <div class="bank-card__row center-row">
                    <div class="card-number ">
                        ۵۰۲۲ ۲۹۱۰ ۱۴۴۰ ۳۵۶۲
                    </div>
                    <div class="card-expire">
                        ۱۴۰۴/۰۲
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 mt-4">
        <h3 class="text-light">#6</h3>
        <div class="w-100 bg-bg-color list-group">
            <div class="list-group-item bg-bg-color">
                <div class="text-right">
                    <span class="bg-alpha-pink text-pink py-1 px-3 rounded text-xs ">
                        جدید
                    </span>
                </div>
                <div class="d-flex flex-row-reverse align-items-center justify-content-between mt-2">
                    <h6 class="text-white text-sm font-weight-bold text-right">فعال شدن کارت به کارت بانک سامان</h6>
                    <small class="text-light text-right">شهریور ۹۸</small>
                </div>
                <div class="text-right dir-rtl text-white text-xs mt-2">
                    <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti distinctio nemo nihil quaerat vero. Aspernatur autem, consequatur corporis ea est exercitationem magnam mollitia nemo, nulla officia officiis saepe ut voluptatibus?</p>
                </div>
                <div class="mb-2">
                    <span class="bg-alpha-danger p-2 rounded">
                        <img src="./dist/images/icons/recycling-bin.svg" alt="">
                    </span>
                </div>
            </div>
            <div class="list-group-item bg-bg-color">
                <div class="text-right">
                    <span class="bg-alpha-pink text-pink py-1 px-3 rounded text-xs ">
                        جدید
                    </span>
                </div>
                <div class="d-flex flex-row-reverse align-items-center justify-content-between mt-2">
                    <h6 class="text-white text-sm font-weight-bold text-right">فعال شدن کارت به کارت بانک سامان</h6>
                    <small class="text-light text-right">شهریور ۹۸</small>
                </div>
                <div class="text-right dir-rtl text-white text-xs mt-2">
                    <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti distinctio nemo nihil quaerat vero. Aspernatur autem, consequatur corporis ea est exercitationem magnam mollitia nemo, nulla officia officiis saepe ut voluptatibus?</p>
                </div>
                <div class="mb-2">
                    <span class="bg-alpha-danger p-2 rounded">
                        <img src="./dist/images/icons/recycling-bin.svg" alt="">
                    </span>
                </div>
            </div>
            <div class="list-group-item bg-bg-color">
                <div class="text-right">
                    <span class="bg-alpha-pink text-pink py-1 px-3 rounded text-xs ">
                        جدید
                    </span>
                </div>
                <div class="d-flex flex-row-reverse align-items-center justify-content-between mt-2">
                    <h6 class="text-white text-sm font-weight-bold text-right">فعال شدن کارت به کارت بانک سامان</h6>
                    <small class="text-light text-right">شهریور ۹۸</small>
                </div>
                <div class="text-right dir-rtl text-white text-xs mt-2">
                    <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti distinctio nemo nihil quaerat vero. Aspernatur autem, consequatur corporis ea est exercitationem magnam mollitia nemo, nulla officia officiis saepe ut voluptatibus?</p>
                </div>
                <div class="mb-2">
                    <span class="bg-alpha-danger p-2 rounded">
                        <img src="./dist/images/icons/recycling-bin.svg" alt="">
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 mt-4">
        <h3 class="text-light">#7</h3>
        <div class="w-100 bg-bg-color list-group">
            <div class="list-group-item bg-bg-color px-0">
                <div class="list-group-item_main d-flex flex-row-reverse align-items-center justify-content-between w-100 overflow-hidden">
                    <div class="bg-alpha-danger rounded py-1 pl-2 pr-3 mr-n2">
                        <img src="./dist/images/icons/Error-action-red.svg" alt="">
                    </div>
                    <div class="text-right flex-grow-1 mr-2">
                        <h6 class="text-white font-weight-bold">خرید از فروشگاه</h6>
                        <p class="text-pink text-xs"> بانک دی</p>
                    </div>
                    <div class="text-right text-light dir-rtl ml-3">
                        <small class="ml-3"> ۶شهریور  </small>
                        <small>۲۲:۴۵</small>
                        <h6 class="text-white font-weight-bold">ریال ۳۱۹۰۰۰۰</h6>
                    </div>
                    <div class="ml-3 list-group-item_main_arrow">
                        <img src="./dist/images/icons/arrow-down.svg" alt="">
                    </div>
                </div>
                <div class="list-group-item_details text-right text-white pr-3 text-sm">
                    <p class="text-danger"> عملیات ناموفق</p>
                    <p>شماره پیگیری:‌ ۹۹۹۹۴۵۴۵۵۱ </p>
                    <p>شماره مرجع:‌ ۵۶۸۴۱۲۵۸۷۴۱ </p>
                    <p >خرید لوازم خانگی ار قروشگاه کیانی</p>
                </div>
            </div>
            <div class="list-group-item bg-bg-color px-0">
                <div class="list-group-item_main d-flex flex-row-reverse align-items-center justify-content-between w-100 overflow-hidden">
                    <div class="bg-alpha-success rounded py-1 pl-2 pr-3 mr-n2">
                        <img src="./dist/images/icons/correct-action-green.svg" alt="">
                    </div>
                    <div class="text-right flex-grow-1 mr-2">
                        <h6 class="text-white font-weight-bold">خرید از فروشگاه</h6>
                        <p class="text-pink text-xs"> بانک دی</p>
                    </div>
                    <div class="text-right text-light dir-rtl ml-3">
                        <small class="ml-3"> ۶شهریور  </small>
                        <small>۲۲:۴۵</small>
                        <h6 class="text-white font-weight-bold">ریال ۳۱۹۰۰۰۰</h6>
                    </div>
                    <div class="ml-3 list-group-item_main_arrow">
                        <img src="./dist/images/icons/arrow-down.svg" alt="">
                    </div>
                </div>
                <div class="list-group-item_details text-right text-white pr-3 text-sm">
                    <p class="text-success"> عملیات موفق</p>
                    <p>شماره پیگیری:‌ ۹۹۹۹۴۵۴۵۵۱ </p>
                    <p>شماره مرجع:‌ ۵۶۸۴۱۲۵۸۷۴۱ </p>
                    <p >خرید لوازم خانگی ار قروشگاه کیانی</p>
                </div>
            </div>
            <div class="list-group-item bg-bg-color px-0">
                <div class="list-group-item_main d-flex flex-row-reverse align-items-center justify-content-between w-100 overflow-hidden">
                    <div class="bg-alpha-danger rounded py-1 pl-2 pr-3 mr-n2">
                        <img src="./dist/images/icons/Error-action-red.svg" alt="">
                    </div>
                    <div class="text-right flex-grow-1 mr-2">
                        <h6 class="text-white font-weight-bold">خرید از فروشگاه</h6>
                        <p class="text-pink text-xs"> بانک دی</p>
                    </div>
                    <div class="text-right text-light dir-rtl ml-3">
                        <small class="ml-3"> ۶شهریور  </small>
                        <small>۲۲:۴۵</small>
                        <h6 class="text-white font-weight-bold">ریال ۳۱۹۰۰۰۰</h6>
                    </div>
                    <div class="ml-3 list-group-item_main_arrow">
                        <img src="./dist/images/icons/arrow-down.svg" alt="">
                    </div>
                </div>
                <div class="list-group-item_details text-right text-white pr-3 text-sm">
                    <p class="text-danger"> عملیات ناموفق</p>
                    <p>شماره پیگیری:‌ ۹۹۹۹۴۵۴۵۵۱ </p>
                    <p>شماره مرجع:‌ ۵۶۸۴۱۲۵۸۷۴۱ </p>
                    <p >خرید لوازم خانگی ار قروشگاه کیانی</p>
                </div>
            </div>
            <div class="list-group-item bg-bg-color px-0">
                <div class="list-group-item_main d-flex flex-row-reverse align-items-center justify-content-between w-100 overflow-hidden">
                    <div class="bg-alpha-success rounded py-1 pl-2 pr-3 mr-n2">
                        <img src="./dist/images/icons/correct-action-green.svg" alt="">
                    </div>
                    <div class="text-right flex-grow-1 mr-2">
                        <h6 class="text-white font-weight-bold">خرید از فروشگاه</h6>
                        <p class="text-pink text-xs"> بانک دی</p>
                    </div>
                    <div class="text-right text-light dir-rtl ml-3">
                        <small class="ml-3"> ۶شهریور  </small>
                        <small>۲۲:۴۵</small>
                        <h6 class="text-white font-weight-bold">ریال ۳۱۹۰۰۰۰</h6>
                    </div>
                    <div class="ml-3 list-group-item_main_arrow">
                        <img src="./dist/images/icons/arrow-down.svg" alt="">
                    </div>
                </div>
                <div class="list-group-item_details text-right text-white pr-3 text-sm">
                    <p class="text-success"> عملیات موفق</p>
                    <p>شماره پیگیری:‌ ۹۹۹۹۴۵۴۵۵۱ </p>
                    <p>شماره مرجع:‌ ۵۶۸۴۱۲۵۸۷۴۱ </p>
                    <p >خرید لوازم خانگی ار قروشگاه کیانی</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 mt-4">
        <h3 class="text-light">#8</h3>
        <div class="w-100 bg-bg-color list-group ">
            <div class="list-group-item bg-bg-color py-3">
                <div class="d-flex flex-row-reverse align-items-center justify-content-between">
                    <div><img class="w-75" src="./dist/images/hamrah-dark.png" alt=""></div>
                    <div class="flex-grow-1 text-white pl-3">
                        ۰۹۱۲۴۵۸۷۹۶۳۵
                    </div>
                    <div>
                        <span class="bg-alpha-danger p-2 rounded">
                            <img src="./dist/images/icons/recycling-bin.svg" alt="">
                        </span>
                    </div>
                </div>
            </div>
            <div class="list-group-item bg-bg-color py-3">
                <div class="d-flex flex-row-reverse align-items-center justify-content-between">
                    <div><img class="w-75" src="./dist/images/talia-dark.png" alt=""></div>
                    <div class="flex-grow-1 text-white pl-3">
                        ۰۹۱۲۴۵۸۷۹۶۳۵
                    </div>
                    <div>
                        <span class="bg-alpha-danger p-2 rounded">
                            <img src="./dist/images/icons/recycling-bin.svg" alt="">
                        </span>
                    </div>
                </div>
            </div>
            <div class="list-group-item bg-bg-color py-3">
                <div class="d-flex flex-row-reverse align-items-center justify-content-between">
                    <div><img class="w-75" src="./dist/images/irancell-dark.png" alt=""></div>
                    <div class="flex-grow-1 text-white pl-3">
                        ۰۹۱۲۴۵۸۷۹۶۳۵
                    </div>
                    <div>
                        <span class="bg-alpha-danger p-2 rounded">
                            <img src="./dist/images/icons/recycling-bin.svg" alt="">
                        </span>
                    </div>
                </div>
            </div>
            <div class="list-group-item bg-bg-color py-3">
                <div class="d-flex flex-row-reverse align-items-center justify-content-between">
                    <div><img class="w-75" src="./dist/images/hamrah-dark.png" alt=""></div>
                    <div class="flex-grow-1 text-white pl-3">
                        ۰۹۱۲۴۵۸۷۹۶۳۵
                    </div>
                    <div>
                        <span class="bg-alpha-danger p-2 rounded">
                            <img src="./dist/images/icons/recycling-bin.svg" alt="">
                        </span>
                    </div>
                </div>
            </div>
            <div class="list-group-item bg-bg-color py-3">
                <div class="d-flex flex-row-reverse align-items-center justify-content-between">
                    <div><img class="w-75" src="./dist/images/talia-dark.png" alt=""></div>
                    <div class="flex-grow-1 text-white pl-3">
                        ۰۹۱۲۴۵۸۷۹۶۳۵
                    </div>
                    <div>
                        <span class="bg-alpha-danger p-2 rounded">
                            <img src="./dist/images/icons/recycling-bin.svg" alt="">
                        </span>
                    </div>
                </div>
            </div>
            <div class="list-group-item bg-bg-color py-3">
                <div class="d-flex flex-row-reverse align-items-center justify-content-between">
                    <div><img class="w-75" src="./dist/images/irancell-dark.png" alt=""></div>
                    <div class="flex-grow-1 text-white pl-3">
                        ۰۹۱۲۴۵۸۷۹۶۳۵
                    </div>
                    <div>
                        <span class="bg-alpha-danger p-2 rounded">
                            <img src="./dist/images/icons/recycling-bin.svg" alt="">
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
