<h1 class="text-light mt-5" id="main-menu">Main menu</h1>
<button class="btn btn-dark-blue menu-toggler">
    show menu
</button>
<nav class="navigation-menu">
    <div class="nav-item profile-box">
        <div class="nav-item__icon">
            <object data="./dist/images/icons/single-neutral.svg" type=""></object>
        </div>
        <span>پروفایل</span>
    </div>
    <div class="nav-item">
        <div class="nav-item__icon">
            <object data="./dist/images/icons/task-list-check-1.svg" type=""></object>
        </div>
        <span>لیست تراکنشها</span>
    </div>
    <div class="nav-item">
        <div class="nav-item__icon">
            <object data="./dist/images/icons/email-action-download.svg" type=""></object>
        </div>
        <span>صندوق پیام ها </span>
    </div>
    <div class="nav-item">
        <div class="nav-item__icon">
            <object data="./dist/images/icons/notes-book-text.svg" type=""></object>
        </div>
        <span>درباره ما</span>
    </div>
</nav>
