<h1 class="text-light mt-5">Selectors</h1>
<div class="row">
    <div class="col-12 col-md-4">
        <div class="simple-selector">
            <div class="selector-item selector-item-dark-blue">
                <img src="./dist/images/talia-dark.png" alt="" class="selector-item-icon">
            </div>
            <div class="selector-item selector-item-dark-blue">
                <img src="./dist/images/rightel-dark.png" alt="" class="selector-item-icon">
            </div>
            <div class="selector-item selector-item-dark-blue">
                <img src="./dist/images/hamrah-dark.png" alt="" class="selector-item-icon">
            </div>
            <div class="selector-item selector-item-dark-blue">
                <img src="./dist/images/irancell-dark.png" alt="" class="selector-item-icon">
            </div>
        </div>
        <div class="simple-selector mt-4">
            <div class="selector-item selector-item-teal">
                <h3>۲۰۰۰</h3>
                <p>تومان</p>
            </div>
            <div class="selector-item fill selector-item-teal">
                <h3>۲۰۰۰</h3>
                <p>تومان</p>
            </div>
            <div class="selector-item selector-item-warning">
                <h3>۵۰۰۰</h3>
                <p>تومان</p>
            </div>
            <div class="selector-item fill selector-item-warning">
                <h3>۵۰۰۰</h3>
                <p>تومان</p>
            </div>
        </div>
        <div class="full-selector mt-4">
            <div class="selector-item fill selector-item selector-item-teal mt-2">
                <div class="selector-item-description">
                    <p class="selector-item-description_title">۲۰ گیگابایت</p>
                    <p class="selector-item-description_subtitle">۳ ماهه (۶ تا ۱۲ ظهر)</p>
                </div>
                <div class="selector-item-price dir-rtl text-right">
                     ۲۱۰,۰۰۰ <span>تومان</span>
                </div>
            </div>
            <div class="selector-item fill selector-item selector-item-warning mt-2">
                <div class="selector-item-description">
                    <p class="selector-item-description_title">۲۰ گیگابایت</p>
                    <p class="selector-item-description_subtitle">۳ ماهه (۶ تا ۱۲ ظهر)</p>
                </div>
                <div class="selector-item-price dir-rtl text-right">
                    ۲۱۰,۰۰۰ <span>تومان</span>
                </div>
            </div>
            <div class="selector-item fill selector-item selector-item-purple mt-2">
                <div class="selector-item-description">
                    <p class="selector-item-description_title">۲۰ گیگابایت</p>
                    <p class="selector-item-description_subtitle">۳ ماهه (۶ تا ۱۲ ظهر)</p>
                </div>
                <div class="selector-item-price dir-rtl text-right">
                    ۲۱۰,۰۰۰ <span>تومان</span>
                </div>
            </div>
            <div class="selector-item fill selector-item selector-item-dark-red mt-2">
                <div class="selector-item-description">
                    <p class="selector-item-description_title">۲۰ گیگابایت</p>
                    <p class="selector-item-description_subtitle">۳ ماهه (۶ تا ۱۲ ظهر)</p>
                </div>
                <div class="selector-item-price dir-rtl text-right">
                    ۲۱۰,۰۰۰ <span>تومان</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-4">
        <div class="simple-selector">
            <div class="selector-item selector-item-teal fill">
                <img src="./dist/images/hamrah-white.png" alt="" class="selector-item-icon">
            </div>
            <div class="selector-item selector-item-warning fill">
                <img src="./dist/images/irancell-white.png" alt="" class="selector-item-icon">
            </div>
            <div class="selector-item selector-item-purple fill">
                <img src="./dist/images/rightel-white.png" alt="" class="selector-item-icon">
            </div>
            <div class="selector-item selector-item-dark-red fill">
                <img src="./dist/images/talia-white.png" alt="" class="selector-item-icon">
            </div>
        </div>
    </div>
    <div class="col-12 col-md-4">
        <div class="small-selector">
            <div class="selector-item selector-item-teal fill">
                <img src="./dist/images/hamrah-white.png" alt="" class="selector-item-icon">
            </div>
            <div class="selector-item selector-item-warning fill">
                <img src="./dist/images/irancell-white.png" alt="" class="selector-item-icon">
            </div>
            <div class="selector-item selector-item-purple fill">
                <img src="./dist/images/rightel-white.png" alt="" class="selector-item-icon">
            </div>
            <div class="selector-item selector-item-dark-red fill">
                <img src="./dist/images/talia-white.png" alt="" class="selector-item-icon">
            </div>
        </div>
        <div class="simple-selector mt-4">
            <div class="selector-item selector-item-purple">
                <h3>۲۰۰۰</h3>
                <p>تومان</p>
            </div>
            <div class="selector-item fill selector-item-purple">
                <h3>۵۰۰۰</h3>
                <p>تومان</p>
            </div>
            <div class="selector-item selector-item-dark-red">
                <h3>۱۰</h3>
                <p>هزار تومان</p>
            </div>
            <div class="selector-item fill selector-item-dark-red">
                <h3>۵۰۰۰</h3>
                <p>تومان</p>
            </div>
        </div>
        <div class="full-selector mt-4">
            <div class="selector-item selector-item selector-item-teal mt-2">
                <div class="selector-item-description">
                    <p class="selector-item-description_title">۲۰ گیگابایت</p>
                    <p class="selector-item-description_subtitle">۳ ماهه (۶ تا ۱۲ ظهر)</p>
                </div>
                <div class="selector-item-price dir-rtl text-right">
                    ۲۱۰,۰۰۰ <span>تومان</span>
                </div>
            </div>
            <div class="selector-item selector-item selector-item-warning mt-2">
                <div class="selector-item-description">
                    <p class="selector-item-description_title">۲۰ گیگابایت</p>
                    <p class="selector-item-description_subtitle">۳ ماهه (۶ تا ۱۲ ظهر)</p>
                </div>
                <div class="selector-item-price dir-rtl text-right">
                    ۲۱۰,۰۰۰ <span>تومان</span>
                </div>
            </div>
            <div class="selector-item selector-item selector-item-purple mt-2">
                <div class="selector-item-description">
                    <p class="selector-item-description_title">۲۰ گیگابایت</p>
                    <p class="selector-item-description_subtitle">۳ ماهه (۶ تا ۱۲ ظهر)</p>
                </div>
                <div class="selector-item-price dir-rtl text-right">
                    ۲۱۰,۰۰۰ <span>تومان</span>
                </div>
            </div>
            <div class="selector-item selector-item selector-item-dark-red mt-2">
                <div class="selector-item-description">
                    <p class="selector-item-description_title">۲۰ گیگابایت</p>
                    <p class="selector-item-description_subtitle">۳ ماهه (۶ تا ۱۲ ظهر)</p>
                </div>
                <div class="selector-item-price dir-rtl text-right">
                    ۲۱۰,۰۰۰ <span>تومان</span>
                </div>
            </div>
        </div>
    </div>
</div>
