<h1 class="text-light mt-5">Tabs</h1>
<div class="row">
    <div class="col-12 col-md-4">
        <div class="btn-group btn-group-dark-blue mt-4" role="group">
            <button type="button" class="btn btn-dark-blue active">شارژ مستقیم </button>
            <button type="button" class="btn btn-dark-blue">پین شارژ</button>
        </div>
        <div class="btn-group btn-group-dark-blue mt-4" role="group">
            <button type="button" class="btn btn-dark-blue">دیتا</button>
            <button type="button" class="btn btn-dark-blue active">دايمی</button>
            <button type="button" class="btn btn-dark-blue">اعتباری</button>
        </div>
        <div class="btn-group btn-group-dark-blue mt-4" role="group">
            <button type="button" class="btn btn-dark-blue active">
                <svg class="mr-2" xmlns="http://www.w3.org/2000/svg" width="24.68" height="18.51" viewBox="0 0 24.68 18.51">
                    <g id="card_tab_bar_pardakht" data-name="card_tab bar_pardakht" transform="translate(0)">
                        <path id="Path_3633" data-name="Path 3633" d="M3.089,26.51A3.089,3.089,0,0,1,0,23.425V11.085A3.088,3.088,0,0,1,3.089,8H21.6a3.089,3.089,0,0,1,3.085,3.085v12.34A3.089,3.089,0,0,1,21.6,26.51Zm0-17.276a1.853,1.853,0,0,0-1.851,1.851v12.34a1.853,1.853,0,0,0,1.851,1.851H21.6a1.853,1.853,0,0,0,1.851-1.851V11.085A1.853,1.853,0,0,0,21.6,9.234Z" transform="translate(-0.004 -8)" fill="#fff"/>
                        <path id="Path_3635" data-name="Path 3635" d="M2.646,17.284a.642.642,0,0,1,0-1.284h6.42a.642.642,0,0,1,0,1.284Z" transform="translate(0.564 -6.723)" fill="#fff"/>
                        <path id="Path_3636" data-name="Path 3636" d="M2.646,19.284a.642.642,0,0,1,0-1.284H7.782a.642.642,0,0,1,0,1.284Z" transform="translate(0.564 -6.073)" fill="#fff"/>
                        <path id="Path_3796" data-name="Path 3796" d="M3.583,17.151c-.872,0-1.579-.258-1.579-.576S2.711,16,3.583,16H19.371c.872,0,1.579.258,1.579.576s-.707.576-1.579.576Z" transform="translate(0.564 -9.723)" fill="#fff"/>
                    </g>
                </svg>
                کارت بانکی
            </button>
            <button type="button" class="btn btn-dark-blue">
                <svg class="mr-2" xmlns="http://www.w3.org/2000/svg" width="24" height="21.265" viewBox="0 0 24 21.265">
                    <g id="money_wallet_tab_bar_pardakht" data-name="money_wallet_tab bar_pardakht" transform="translate(0)">
                        <path id="Path_3616" data-name="Path 3616" d="M18.687,14.762a.937.937,0,1,1,.937-.937A.938.938,0,0,1,18.687,14.762Z" transform="translate(-0.299 -1.589)" fill="#fff"/>
                        <path id="Path_3625" data-name="Path 3625" d="M2.5,22.634a2.5,2.5,0,0,1-2.5-2.5v-13a2.5,2.5,0,0,1,2.5-2.5H4.433L16.388,1.419a1.6,1.6,0,0,1,.395-.05,1.47,1.47,0,0,1,.766.213,1.485,1.485,0,0,1,.683.922l.555,2.216A3.976,3.976,0,0,1,22,8.636v2.05a2.5,2.5,0,0,1,2,2.45v1a2.5,2.5,0,0,1-2,2.45v2.05a4,4,0,0,1-4,4Zm0-17A1.5,1.5,0,0,0,1,7.136v13a1.5,1.5,0,0,0,1.5,1.5H18a3,3,0,0,0,3-3v-2H17.5a2.5,2.5,0,0,1-2.5-2.5v-1a2.5,2.5,0,0,1,2.5-2.5H21v-2a3,3,0,0,0-3-3H2.5Zm15,6a1.5,1.5,0,0,0-1.5,1.5v1a1.5,1.5,0,0,0,1.5,1.5h4a1.5,1.5,0,0,0,1.5-1.5v-1a1.5,1.5,0,0,0-1.5-1.5Zm.235-7-.472-1.891a.5.5,0,0,0-.484-.379.5.5,0,0,0-.122.015L8.281,4.636Z" transform="translate(0 -1.369)" fill="#fff"/>
                    </g>
                </svg>
                 کیف  پول
            </button>
        </div>
        <div class="btn-group btn-group-warning mt-4" role="group">
            <button type="button" class="btn btn-warning">دیتا</button>
            <button type="button" class="btn btn-warning active">دايمی</button>
            <button type="button" class="btn btn-warning">اعتباری</button>
        </div>
        <div class="btn-group btn-group-danger mt-4" role="group">
            <button type="button" class="btn btn-danger">دیتا</button>
            <button type="button" class="btn btn-danger active">دايمی</button>
            <button type="button" class="btn btn-danger">اعتباری</button>
        </div>
        <div class="btn-group btn-group-secondary mt-4" role="group">
            <button type="button" class="btn btn-secondary">دیتا</button>
            <button type="button" class="btn btn-secondary active">دايمی</button>
            <button type="button" class="btn btn-secondary">اعتباری</button>
        </div>
        <div class="btn-group btn-group-blue mt-4" role="group">
            <button type="button" class="btn btn-blue">دیتا</button>
            <button type="button" class="btn btn-blue active">دايمی</button>
            <button type="button" class="btn btn-blue">اعتباری</button>
        </div>
        <div class="btn-group btn-group-success mt-4" role="group">
            <button type="button" class="btn btn-success">دیتا</button>
            <button type="button" class="btn btn-success active">دايمی</button>
            <button type="button" class="btn btn-success">اعتباری</button>
        </div>
        <div class="btn-group btn-group-primary mt-4" role="group">
            <button type="button" class="btn btn-primary">دیتا</button>
            <button type="button" class="btn btn-primary active">دايمی</button>
            <button type="button" class="btn btn-primary">اعتباری</button>
        </div>
        <div class="btn-group btn-group-pink mt-4" role="group">
            <button type="button" class="btn btn-pink">دیتا</button>
            <button type="button" class="btn btn-pink active">دايمی</button>
            <button type="button" class="btn btn-pink">اعتباری</button>
        </div>
    </div>
</div>
