<h1 class="text-light mt-5">Text-boxes</h1>
<div class="row">
    <div class="col-12 col-md-6">
        <div class="form-group">
            <label for="exampleFormControlInput1"><object data="./dist/images/icons/mobile-phone-2.svg"></object>  شماره موبایل </label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="شماره مورد نظر را وارد نمایید">
        </div>
    </div>
    <div class="col-12 col-md-6">
        <div class="form-group mt-5">
            <input type="email" class="form-control" id="exampleFormControlInput2" placeholder="شماره کارت مورد نظر خود را وارد نمایید">
        </div>
    </div>
</div>
