<h1 class="text-light mt-5" id="toasts">Toasts</h1>
<div class="row">
    <div class="col-12">
        .toast-top
        <div class="toast toast-success toast-top demo">
            <div class="toast-body has-icon">
                <div class="toast-message">
                    عملیات موفق
                </div>
                <div class="icon-place">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 25 25">
                        <g id="single-woman-actions-check-1" transform="translate(-11 -11.003)">
                            <ellipse id="Ellipse_60" data-name="Ellipse 60" cx="12" cy="12" rx="12" ry="12" transform="translate(11.5 11.503)" fill="none" stroke="#00bfa5" stroke-linecap="round" stroke-linejoin="round" stroke-width="1"/>
                            <path id="Path_4113" data-name="Path 4113" d="M26.3,15.759l-6.121,8.163a1.582,1.582,0,0,1-2.383.169L14.638,20.93" transform="translate(2.85 4.013)" fill="none" stroke="#00bfa5" stroke-linecap="round" stroke-linejoin="round" stroke-width="1"/>
                        </g>
                    </svg>
                </div>
            </div>
        </div>
        .toast-center
        <div class="toast toast-danger toast-center demo">
            <div class="toast-body has-icon">
                <div class="toast-message">
                    عملیات ناموفق
                </div>
                <div class="icon-place">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 25 25">
                        <g id="single-woman-actions-check-1" transform="translate(-11 -11.003)">
                            <ellipse id="Ellipse_60" data-name="Ellipse 60" cx="12" cy="12" rx="12" ry="12" transform="translate(11.5 11.503)" fill="none" stroke="#FF1744" stroke-linecap="round" stroke-linejoin="round" stroke-width="1"/>
                            <path id="Path_4113" data-name="Path 4113" d="M26.3,15.759l-6.121,8.163a1.582,1.582,0,0,1-2.383.169L14.638,20.93" transform="translate(2.85 4.013)" fill="none" stroke="#FF1744" stroke-linecap="round" stroke-linejoin="round" stroke-width="1"/>
                        </g>
                    </svg>
                </div>
            </div>
        </div>
        .toast-bottom
        <div class="toast toast-warning toast-bottom demo">
            <div class="toast-body has-icon">
                <div class="toast-message">
                    خطا در عملیات
                </div>
                <div class="icon-place">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 25 25">
                        <g id="single-woman-actions-check-1" transform="translate(-11 -11.003)">
                            <ellipse id="Ellipse_60" data-name="Ellipse 60" cx="12" cy="12" rx="12" ry="12" transform="translate(11.5 11.503)" fill="none" stroke="#ffca28" stroke-linecap="round" stroke-linejoin="round" stroke-width="1"/>
                            <path id="Path_4113" data-name="Path 4113" d="M26.3,15.759l-6.121,8.163a1.582,1.582,0,0,1-2.383.169L14.638,20.93" transform="translate(2.85 4.013)" fill="none" stroke="#ffca28" stroke-linecap="round" stroke-linejoin="round" stroke-width="1"/>
                        </g>
                    </svg>
                </div>
            </div>
        </div>
        <div class="toast toast-secondary demo">
            <div class="toast-body has-icon">
                <div class="toast-message">
                    خروج
                </div>
                <div class="icon-place">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 25 25">
                        <g id="single-woman-actions-check-1" transform="translate(-11 -11.003)">
                            <ellipse id="Ellipse_60" data-name="Ellipse 60" cx="12" cy="12" rx="12" ry="12" transform="translate(11.5 11.503)" fill="none" stroke="#78909c" stroke-linecap="round" stroke-linejoin="round" stroke-width="1"/>
                            <path id="Path_4113" data-name="Path 4113" d="M26.3,15.759l-6.121,8.163a1.582,1.582,0,0,1-2.383.169L14.638,20.93" transform="translate(2.85 4.013)" fill="none" stroke="#78909c" stroke-linecap="round" stroke-linejoin="round" stroke-width="1"/>
                        </g>
                    </svg>
                </div>
            </div>
            <div class="toast-action">
                <button class="btn btn-secondary">خروج</button>
            </div>
        </div>
        <div class="toast toast-info demo">
            <div class="toast-body has-icon">
                <div class="toast-message">
                    اینترنت متصل نیست
                </div>
                <div class="icon-place">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 25 25">
                        <g id="single-woman-actions-check-1" transform="translate(-11 -11.003)">
                            <ellipse id="Ellipse_60" data-name="Ellipse 60" cx="12" cy="12" rx="12" ry="12" transform="translate(11.5 11.503)" fill="none" stroke="#3cabec" stroke-linecap="round" stroke-linejoin="round" stroke-width="1"/>
                            <path id="Path_4113" data-name="Path 4113" d="M26.3,15.759l-6.121,8.163a1.582,1.582,0,0,1-2.383.169L14.638,20.93" transform="translate(2.85 4.013)" fill="none" stroke="#3cabec" stroke-linecap="round" stroke-linejoin="round" stroke-width="1"/>
                        </g>
                    </svg>
                </div>
            </div>
            <div class="toast-action">
                <button class="btn btn-info">اتصال مجدد</button>
            </div>
        </div>
    </div>
</div>
