$primary: #944268;
$secondary : #78909c;
$success: #00bfa5;
$info: #3cabec;
$warning :#ffca28;
$danger :  #ff1744;
$light : rgba(255,255,255,.5);
$dark : #25252a;
$yellow:#bc970a;
$blue: #039be5;
$dark-blue: #3d467b;
$darkest-blue: #242839;
$teal: #3bc6d4;
$dark-teal: #11545f;
$dark-red: #c34053;
$purple: #c568fb;
$pink: #f0328b;
$green: #56cb54;
$orange:#eb8431;


$root-primary: 148, 66, 104;
$root-secondary : 120, 144, 156;
$root-success: 0, 191, 165;
$root-info: 60, 171, 236;
$root-warning : 255, 202, 40;
$root-danger :  255, 23, 68;
$root-light : 255,255,255;
$root-dark : 37, 37, 42;
$root-yellow: 188, 151, 10;
$root-blue: 3, 155, 229;
$root-dark-blue: 61, 70, 123;
$root-darkest-blue: 36, 40, 57;
$root-teal: 59, 198, 212;
$root-dark-teal: 17, 84, 95;
$root-dark-red: 195, 64, 83;
$root-purple: 197, 104, 251;
$root-pink: 240, 50, 139;
$root-green: 86, 203, 84;
$root-orange: 235, 132, 49;



$white:    #fff ;
$gray-100: #f8f9fa ;
$gray-200: #e9ecef ;
$gray-300: #dee2e6 ;
$gray-400: #ced4da ;
$gray-500: #adb5bd ;
$gray-600: #6c757d ;
$gray-700: #495057 ;
$gray-800: #343a40 ;
$gray-900: #212529 ;
$black:    #000 ;

$colors-root: ();
// stylelint-disable-next-line scss/dollar-variable-default
$colors-root: map-merge(
                (
                        primary: $root-primary,
                        secondary: $root-secondary,
                        success: $root-success,
                        info: $root-info,
                        warning: $root-warning,
                        danger: $root-danger,
                        light: $root-light,
                        dark: $root-dark,
                        yellow: $root-yellow,
                        blue: $root-blue,
                        dark-blue: $root-dark-blue,
                        darkest-blue: $root-darkest-blue,
                        teal: $root-teal,
                        dark-teal: $root-dark-teal,
                        dark-red: $root-dark-red,
                        purple: $root-purple,
                        pink: $root-pink,
                        green: $root-green,
                        orange: $root-orange,
                ),
                $colors-root
);

$grays: ();
// stylelint-disable-next-line scss/dollar-variable-default
$grays: map-merge(
                (
                        "100": $gray-100,
                        "200": $gray-200,
                        "300": $gray-300,
                        "400": $gray-400,
                        "500": $gray-500,
                        "600": $gray-600,
                        "700": $gray-700,
                        "800": $gray-800,
                        "900": $gray-900
                ),
                $grays
);


$theme-colors-list: () ;
// stylelint-disable-next-line scss/dollar-variable-default
$theme-colors-list: map-merge(
                (
                        primary: $primary,
                        secondary: $secondary,
                        success: $success,
                        info: $info,
                        warning: $warning,
                        danger: $danger,
                        light: $light,
                        dark: $dark,
                        yellow: $yellow,
                        blue: $blue,
                        dark-blue: $dark-blue,
                        darkest-blue: $darkest-blue,
                        teal: $teal,
                        dark-teal: $dark-teal,
                        dark-red: $dark-red,
                        purple: $purple,
                        pink: $pink,
                        green: $green,
                        orange: $orange,
                ),
                $theme-colors-list
);


// Overrides
$body-bg: #212121;
$body-color: #555;
$primary-font-family-bold: "IRANSans";
$primary-font-family-regular: 'IRANSans';
$primary-font-family-light: "IRANSans";
$secondary-font-family-bold: "";
$secondary-font-family-regular: "";
$secondary-font-family-light: "";
$border-radius: 0.5rem;
$paragraph-margin-bottom: 1rem ;
$image-smooth-shadow : 0 0px 4px 0 rgba(0,0,0,.25);


// Font-sizes
$font-size-base: 1rem;
$font-size-lg: $font-size-base * 1.25 ;
$font-size-sm: $font-size-base * .875 ;
$font-weight-base: 400;
$line-height-base: 1.5;

//Toast
$toast-bg-color: #4a4a4a;
$toast-item-padding: .8rem;

//Popup
$popup-bg-color :#4a4a4a;
$popup-item-padding : 1rem;

