@font-face {
    font-family: "FontAwesome";
    src: url("../fonts/webfonts/fa-regular-400.eot");
    src: url("../fonts/webfonts/fa-regular-400.woff2") format("woff2"), url("../fonts/webfonts/fa-regular-400.woff") format("woff");
}

@font-face {
    font-family: "anjoman";
    src: url("../fonts/anjoman/AnjomanFaNum-Medium.eot");
    src: url("../fonts/anjoman/AnjomanFaNum-Medium.woff") format("woff"),
    url("../fonts/anjoman/AnjomanFaNum-Medium.woff2") format("woff2");
}


