@each $color, $value in $theme-colors-list {
    @include text-emphasis-variant(".text-#{$color}", $value);
}

.text-body {
    color: $body-color !important;
}

.text-muted {
    color: $text-muted !important;
}

.text-black-50 {
    color: rgba(31, 45, 61, 0.5) !important;
}
